
<div class="panel panel-warning">
  <div class="panel-body">
  <div class="alert alert-info">Student Panel: Add, Update or Delete a User</div>
  	<table class="table table-bordered">
    {{vm.selectedItem}}
  	  <caption>

      <div class="row">
    	    	<div class="col-md-8">
      		<input type="text" name="search" ng-model="search" class="form-control" placeholder="Search">
      	</div>
      	<div class="col-md-3">
      		<button class="btn btn-primary pull-right" ng-click="vm.show()">Add User</button>
      	</div>
        </div>
  	  </caption>
  		<thead>
  			<th>Name</th>
  			<th>Email</th>
  			<th>Phone</th>
  			<th>Dob</th>
  			<th colspan="2"></th>
  		</thead>
  		<tbody>
  			<tr ng-repeat ="student in vm.students | filter: search">
  				<td>{{student.username}}</td>
  				<td>{{student.email}}</td>
  				<td>{{student.phone}}</td>
  				<td>{{student.dob}}</td>
  				<td ng-click="vm.editStudent(student)" class="edit"><i class="glyphicon glyphicon-pencil"></i></td>
  				<td ng-click="vm.removeStudent(student)" class="remove"><i class="glyphicon glyphicon-trash"></i></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>